.container{
    width: 100%;
    min-height: 100vh; /* Altura */
    background-color: #191919;
    color: #ffff;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-inline: 1.5rem;
    overflow: hidden;
    }
    